
<div class="footer">

  <div class="footer-follow w200">
    <h5>Follow us</h5>
    <ul>
      <li><a href="https://www.instagram.com/wwf/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a href="https://www.facebook.com/WWF" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
    </ul>
  </div>

  <div class="footer-about w200">
    <h5>About</h5>
    <ul>
      <li>
        <a href="#" class="tab-underlined">Become a host</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="footer-community w200">
    <h5>Community</h5>
    <ul>
      <li>
        <a href="https://www.catloverscreation.fr/blog/" target="_blank" class="tab-underlined">Catlovers</a>
      </li>
      <li>
        <a href="https://www.dogsloversblog.com/" target="_blank" class="tab-underlined">Doglovers</a>
      </li>
    </ul>
  </div>

  <div class="footer-support w200">
    <h5>Support</h5>
    <ul>
      <li>
      <a href="https://www.aspcapro.org/resource/9-tips-provide-proper-nutrition-animals" target="_blank" class="tab-underlined">Animal feeding</a>
      </li>
      <li>
      <a href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/positive-pet.html" target="_blank" class="tab-underlined">Animals & Covid19</a>
      </li>
    </ul>
  </div>  
</div>

