<div class="footer">

  <div class="footer-follow w200">
    <h5>Follow us</h5>
    <ul>
      <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
    </ul>
  </div>

  <div class="footer-about w200">
    <h5>About</h5>
    <ul>
      <li>
        <a href="#" class="tab-underlined">Become a host</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">FAQ</a>
      </li>
    </ul>
  </div>

  <div class="footer-community w200">
    <h5>Community</h5>
    <ul>
      <li>
        <a href="#" class="tab-underlined">Catlovers</a>
      </li>
      <li>
        <a href="#" class="tab-underlined">Doglovers</a>
      </li>
    </ul>
  </div>

  <div class="footer-support w200">
    <h5>Support</h5>
    <ul>
      <li>
      <a href="#" class="tab-underlined">Feeding</a>
      </li>
      <li>
      <a href="#" class="tab-underlined">Sickness</a>
      </li>
    </ul>
  </div>

</div>
