.d-flex {
  align-items: flex-start;
}

.btn {
  background-color: #ef6d33;
  border: none;
  border-radius: 25px;
  color: white;
  &:hover {
    background-color: #e4682e;
    color: black;
  }
}

.extra-pics {
  align-items: center;
  a {
    font-size: 1.5em;
  }
}

.availability {
  background-color: lightgray;
  width: max-content;
  padding: 1px 5px 5px 5px;
  border-radius: 2px;

  ul {
    font-family: monospace;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
  }

  li {
    display: inline;
    padding: 2px 5px;
    border-radius: 2px;
  }

  .not-available {
    background-color: red;
  }

  .available {
    background-color: green;
  }

  .day-in-past {
    color: gray;
  }
}
