<h1>Bookings</h1>
<% if @bookings.size == 0 %>
  <p>No booking found for: <%= "#{current_user.first_name} #{current_user.last_name}" %></p>
<% end %>

<ul>
  <% @bookings.each do |booking| %>
    <li><%= "#{booking.pet}: from: #{booking.start_date} to: #{booking.end_date}" %></li>
  <% end %>
</ul>