<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%if user_signed_in? %>
  <h3> <%= current_user.email %></h3>
<% end %>

<%= cl_image_tag("exbsyvjnwv5yb9fz2apb",
      width: 400, height: 300, crop: :fill) %>