<div class="container">
  <div class="row mt-3">

    <div class="col-sm-12 col-lg-6 mt-2">
      <h3>Incoming bookings</h3>
      <% if @incomming_bookings.size == 0 %>
        <p>No bookings found</p>
      <% else %>
        <% @incomming_bookings.each do |booking| %>
          <%= render 'bookings/booking', booking: booking %>
        <% end %>
      <% end %>
    

      <h3>My bookings</h3>
      <% if @bookings.size == 0 %>
        <p>No booking found</p>
      <% else %>
        <% @bookings.each do |booking| %>
          <%= render 'bookings/booking', booking: booking %>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-12 col-lg-6 mt-2">
      <h3>My pets</h3>
      <div class="row">
        <% @pets.each do |pet| %>
          <div class="col-6 mb-3">
            <%= render  "pets/info_window", pet: pet %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>

