.footer {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  color: #EF6D34;
  flex-wrap: wrap;

  ul {
    list-style: none;
    padding-left: 0px;
  }

  ul li a {
    color: #fff;
    font-size: 0.8em;
  }
}

.w200 {
  width: 200px;
}

/* Sticky footer styles
-------------------------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* Set the fixed height of the footer here */
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .footer {
    text-align: center;
    justify-content: center;
  }
}
