.footer {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  color: #ef6d34;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;

  ul {
    list-style: none;
    padding-left: 0px;
  }

  ul li a {
    color: #fff;
    font-size: 0.8em;
  }
}

.w200 {
  width: 120px;
}
